*{
    margin: 0px;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(48deg, rgba(0,0,0,0.6896008403361344) 0%, rgba(149,1,1,1) 51%, rgba(0,0,0,0.5999649859943977) 100%);}
nav{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 15px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.9697128851540616) 55%, rgba(61,0,0,0.9753151260504201) 96%);
    overflow: hidden;
}
nav div{
    display:flex; 
    flex-direction: row;
    font-size: 20px;
    width: 400px;
}
nav a{
    margin: auto;
    text-decoration: none;
    
}

main{
    background-image: url(https://images.unsplash.com/photo-1498084393753-b411b2d26b34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    width: 100%;
    height: 100%;
}

#form{
    padding: 20px;
    font-size: 1em;
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top:100px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(149,1,1);
    background: linear-gradient(48deg, rgba(149,1,1,0.4515056022408963) 0%, rgba(149,1,1,0.45) 100%);
    font-family:'Courier New', Courier, monospace;

}
.signup{
    background-repeat: inherit;
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family:'Courier New', Courier, monospace;

}
#form h1{
    font-weight:500;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: 2px underline;
    margin: auto;
    
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
.data span{
    font-size: 1rem;
    color:  #FF0000;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.4) 40%, rgba(255,255,255,0.4010854341736695) 78%);
    border-radius: 20px;
    text-align: center;
    width: auto;
}
.data input{
    height: 40px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #3D0000;
}
#submit{
    height: 40px;
    width: 150px;
    color: black;
    background-color: whitesmoke;
    margin: auto;
    border: 2px solid #3D0000;
    border-radius: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
#submit:hover{
    background-color: #FF0000;
    font-weight: 600;
}
#login{
    font-size: 1rem;
    color: whitesmoke;
    margin: auto;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;

}
#login a{
    color: whitesmoke;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;

}

@media screen and (min-width:700px) and (max-width:900px)  {
    nav{
      height: 80px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    nav div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }
    .signup{
        height: auto;
        
    }
  }

  @media screen and (min-width:900px) and (max-width: 1300px) {
    nav{
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    nav div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        flex-wrap: wrap;
        margin-left: 40px;
        justify-content: left;
        
    }
    .post p{
        font-size:  12px ;
        width: 100%;
    }
    .post img{
        width: 55%;
    }
  }

  @media screen and (max-width: 699px){
    nav{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
      }
      nav div{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-wrap: wrap;
        align-items: center;
      }
      main{
        height: 80%;
        width: 100%;
        margin: auto;
        margin-top: 200px;
      }
      .signup{
        height: 100%;
        width: 100%;
        margin: auto;
      }
      #form{
        height: 100%;
        width: 80%;
        
        
      }
      .data input{
        height: 40px;
        width: 200px;
        border-radius: 20px;
        text-align: center;
        border: 2px solid #3D0000;
    }
    #form h1{
        font-size: 30px;
    }
      

  }
